<style>
		
		* {
			font-family:Roboto, Open Sans, Verdana;
			margin:0px;
			padding:0px;
		}


		.header {
			background-color:00a4ab;
}

		/*SPLASH Page*/
		.splashheader .title{
			margin-left:auto;
			margin-right:auto;
			display:block;

		}
		.splashheader {
			margin-top:200px;
			margin-bottom:auto;
			text-align:center;
			color:black;
		}
		.splashheader h1 {
			font-family:Open Sans Condensed;
			font-size:80px;
			font-weight:bold;
		}
		.splashheader h2 {
			margin-top:30px;
			font-weight:bold;
		}
		.splashnavigation {
			list-style:none;
			margin-top:60px;
			margin-left:auto;
			margin-right:auto;
			display:inline-block;		}
		.splashnavigation li {
			border:1px solid black;
			border-radius:2px;
			padding:15px;
			list-style:none;
			display:inline-block;
		}
		.splashnavigation a {
			color:black;
			text-decoration:none;
			margin-left:10px;
			margin-right:10px;
			padding:5px;
		}
		.splashnavigation a :hover{
			background-color:rgb(255,205,87);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			color:white;
		
		}
		.splashfooter {
		background-color:white;
		margin-top:95px;
		padding-top:50px;
		padding-bottom:30px;
		text-align:center;
    }
		.splashfooter h4 {
		margin-top:14px;
		color:#397ecc;
	}
		.splashfooter a{
		padding-top:20px;
		padding-left:5px;
		padding-right:5px;
		display:inline;
	}
		.fa-facebook-square, .fa-instagram, .fa-twitter, .fa-tumblr,
		.fa-linkedin, .fa-copyright {
		font-size:40px;
		color:#397ecc;
	}
		.splashfooter .fa-copyright {
		margin-top:20px;
		color:#397ecc;
		font-size:12px;
	}
		.splashfooter i:hover {
		color:#397ecc;
	}

							@media only screen and (max-width: 550px){
								* {
									font-family:Roboto, Open Sans, Verdana;
								}
								.splashheader{
									margin-top:50px;
								}

								.splashheader .title{
									font-size:xx-large;
									font-weight:bolder;
								}
								.splashheader h2{
									font-size:medium;
									font-weight:lighter;
								}
								.splashnavigation{
									margin-top:20px;
								}
								.splashnavigation li{
									display:block;
									font-weight:bolder;
								}
								.splashfooter{
									margin-top:0px;
								}

							}

		/*Main CSS's*/
		.header {
			background-color:rgb(0,164,171);
			text-align:center;
			font-family:Roboto, Open Sans, Verdana;
		}
		.header .logo{
			width:250px;
			padding:10px 0px;

		}
		.header p, .header a {
			display:inline-block;
			color:white;
			padding:10px;
			font-size:15px;
			text-decoration: none;
		}
		.header .navs {
			display:inline-block;

			margin-top:20px;
		}
		.header .naving {
			display:inline-block;
			color:white;
			font-size:smaller;
			
		}
		.header .active{
			background-color:rgb(255,205,87);
			color:white;
			border-radius:8px;
			font-size:smaller;
		}
		.header .naving a:hover {
			background-color:rgb(255,205,87);
			color:rgb(255,205,87);
			border-radius:8px;
			font-size:smaller;
		} 
		

		/*GALLERY PAGE*/
		.nav li a:hover{
			border-radius:8px;
		}
		.nav li a{
			font-size:small;
		}
		.gallery .nav li{
			margin-left:auto;
			margin-right:auto;
			display:inline-block;
		}
		.gallery .nav {
			text-align: center;
			margin-top:5px;
		}

						@media only screen and (max-width: 550px){
							.gallery .nav{
								margin-top:10px;
							}
						}

		.gallery h2 {
			margin-top:20px;
		}
		.gallery h3 {
			padding-top:-5px;
			margin-top:1px;
			text-align: center;
		}
		.gallery li {
			font-weight:bold;
			display:inline-block;
		}
		.gallery .nav-tabs {
			margin-top:15px;
		}
		.navigation .active {
			background-color:#397ecc;
			color:white;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius:10px;			
		}
		a .active {
			color:white;
		}
		.gallery a {
			
		}
		.tab-content h3 {
			color:black;
			font-size:20px;
			text-align: justify;
			padding:5px;
		}
		.tab-content {
			background-color:white;
			margin-top:20px;
			color:black
		}
		.row {
			padding:0px 10px;
			margin-left:30px;
		}	
		.modal {
			margin-top:auto;
			margin-bottom:auto;
			color:black;
		}
		.modal-header {
			background-color:#000a1c;
		}
		.modal-footer {
			background-color:#000a1c;
			
		}
		.modal-title{
			color:black;
		}
		.btn-default {
			background-color:#000a1c;
			color:white;
		}
		.modal-content {
			color:white;
		}
		.modal-content h4 {
			font-size:30px;
			font-weight:bold;
			margin-top:20px;
		}
		.modal-content .modalbaebee{
			width:100%;
			padding:0px 120px;
			border-radius:0px;
			display:inline-block;
		}
		.modal-content .modalimg {
			width:100%;
			border-radius:0px;
			display:inline-block;
		}
		.modal-content .modalrectangle {
			width:100%;
			border-radius:0px;
			margin-left:auto;
			margin-right:auto;
		}
		.modal-body .modaltext {
			display:inline-block;
		}
		.modal-content h4,.modal-content h1 
		.modal-content h2,.modal-content h3,{
			font-weight:bold;
			font-family:Roboto, Open Sans, Verdana;
			color:white;
		}
		.mdodal-content .modal-txt{
			background-color:rgba(8, 8, 8, 0.5); margin-bottom:5px;
		}
		.modal-body p {
			color:white;
		}
		#box{
			width:300px;
			height:300px;
			margin:0px auto;
			background-size:cover;
			border-radius:5px;
			overflow:hidden;
			display:inline-block;
		}
		#overlay {
			background:rgba(0,0,0,.75);
			text-align:center;
			padding:45px 0 66px 0;
			margin:0px;
			opacity:0;
			-webkit-transition:opacity .25s ease;
			-moz-transition:opacity .25s ease;
		}
		#box:hover #overlay{
			opacity:1;
		}
		#overlay-txt{
			font-weight:bolder;
			color:white;
			font-size:80px;
		}
		.tab-pane {
			background-color:white;
		}
		.gallerythumbs {
			width:300px;
			margin-left:auto;
			margin-right: auto;
			display:inline-block;
		}
		.websitethumbs {
			width:300px;
			border:0.5px black solid;
		}
						@media only screen and (max-width: 550px){
							.row{
								padding:0px;
								margin-left:18px;
							}
							.tab-content h3{
								font-size:15px;
							}
							.modal-content{
								color:black;
								padding-top:10px;
							}
							.gallerythumbs{
								width:150px;
							}
							.modal-content .modalbaebee{
								padding:0px;
							}
							.modal-content h4 {
								text-align:center;
								font-size:30px;
								font-weight:bold;
								margin-top:20px;
							}

						}

		/*ABOUTS PAGE*/
		.profileimg {
			border-radius:0%;
			width:75%;
			margin-left:auto;
			margin-right:auto;
			display:block;
		}
		.contentprofile h3 {
			text-align:justify;
			font-weight: bold;
		}
		.contentprofile {
			background-color:white;
			font-family:Open Sans, Roboto, Verdana;
			text-align: justify;
		}
		.contentprofile span {
			font-family:Open Sans, Roboto, Verdana;
		}
		.contentprofile .artistdescription {
			text-align:center;
		}
		.skillsimgs {
			display:inline-block;
			width:100%;
			max-width:100px;
			max-height:100px;
		}
		#square{
			width:300px;
			height:300px;
			margin:5% auto 0 auto;
			background-size:cover;
			border-radius:5px;
			overflow:hidden;
			display:inline-block;
		}
		#square-overlay {
			background:rgba(0, 0, 0, 0.84);
			text-align:center;
			padding:30px 0 66px 0;
			opacity:0;
			-webkit-transition:opacity .25s ease;
			-moz-transition:opacity .25s ease;
		}
		#square:hover #square-overlay{
			opacity:1;
		}
		.square-overlay-txt{
			font-weight:bolder;
			color:rgba(255,255,255,.85);
			font-size:15px;
		}
		.abouttitles{
			font-weight:bold;
			font-size:x-large;
		}
		.experiencesimgs {
			width:100%;
			margin-right:auto;
			margin-left:auto;
			display:block;
		}
		#baebee-box{
			width:100%;
			height:180px;
			background:url(file:///C:/Users/aki_jldo/Desktop/WHITE%20PAGE/images/Bae%20Bee%20Promo%20for%20Website%20copy.jpg);
			background-size:cover;
			border-radius:2px;
			overflow:hidden;
			display:inline-block;
		}
		#baebee-overlay {
			background:rgba(0, 0, 0, 0.84);
			width:10px;
			height:10px;
			text-align:center;
			padding:10x 0 66px 0;
			opacity:0;
			-webkit-transition:opacity .25s ease;
			-moz-transition:opacity .25s ease;
		}
		#baebee-box:hover #baebee-overlay{
			opacity:1;
		}
		.baebee-overlay-txt{
			color:white;
		}
		#fruitcocktail-box{
			width:100%;
			height:130px;
			background-size:contain;
			border-radius:5px;
			overflow:hidden;
			display:inline-block;
		}
		#fruitcocktail-overlay {
			background:rgba(0, 0, 0, 0.84);
			height:100%;
			text-align:center;
			padding:30px 0 66px 0;
			opacity:0;
			-webkit-transition:opacity .25s ease;
			-moz-transition:opacity .25s ease;
		}
		#fruitcocktail-box:hover #fruitcocktail-overlay{
			opacity:1;
		}
		.fruitcocktail-overlay-txt{
			background:url(file:///C:/Users/aki_jldo/Desktop/FruitCocktail-Overlay%20copy.jpg)cover;
		}
		.postheader{
			font-weight:bold;
			text-align: justify;
			margin-top:10px;
		}
					@media only screen and (max-width: 550px){
						.naving {
							font-weight:bold;
						}
						.profileimg {
							width:100%;
						}
						.contentprofile h3{
							font-weight:900;
							margin-top:20px;
						}
						.abouttitles{
							font-size:25px;
							padding:5px 0px;
							text-align: center;
						}
						#baebee-box{
							height:250px;
							
						}
					}
		/*CONTACT PAGE*/

		.contactimg {
			width:100%;
		}
		.qrcode {
			margin-left:auto;
			margin-right:auto;
			width:100px;
			display:block;
		}
		.contactbody {
			margin-top:18px;
			text-align: center;
		}
		.contactbody h2{
			margin-top:0px;
		}

			@media only screen and (max-width: 550px){
							.qrcode{
								width:100%;
							}
							}
	/*FOOTER*/
    .footer {
		background-color:white;
		margin-top:50px;
		padding-top:50px;
		padding-bottom:30px;
		text-align:center;
	    	background-color:rgb(0,164,171);
    }
	.footer h4 {
		margin-top:14px;
		color:white;
		font-size:small;
	}
	.footer a{
		padding-top:20px;
		padding-left:5px;
		padding-right:5px;
		display:inline;
	}
	.fa-facebook-square, .fa-instagram, .fa-twitter, .fa-tumblr,
	.fa-linkedin, .fa-copyright {
		font-size:40px;
		color:white;
	}
	.fa-copyright {
		margin-top:8px;
		color:white;
		font-size:x-small;
	}
		
	.footer i:hover {
		color:rgb(255,205,87);
	}
	
